/*imagenes:
https://www.istockphoto.com/es/portfolio/BROvector?mediatype=illustration */

html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    max-width: 100%;
}

header {
    margin-left: 50px;
    height: 15%;
    position: fixed;
    display: flex;
    z-index: 3;
  
}

header #palo {
    height: 110%;
    width: 10px;
    background-color: blue;
}

header ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 5px;
}

/* !ALERTA le cambiamos el color y tambien on hovered */
header a {
    text-decoration: none;

    color: #3c7aff;
    font-weight: bold;
    text-shadow: rgb(106, 106, 106) 1px 1px 5px;
}

header a:hover {
    color: #ff453c;
}

section {
    height: 100%;
}

section>h1 {
    padding-top: 50px;
    text-align: center;
}

#empresa {
    background-color: #dfe8fc;
    border-radius: 0% 0% 300px 0%;
}

article {
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.intro img {
    height: 70%;
    width: 40%;
}

.intro div {
    width: 40%;
    text-align: justify;
}

.intro h1 {
    color: #ff453c;
}

.intro h5 {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #3c7aff;
}

#teams {
    padding-bottom: 50px;
}

#teams h1 {
    color: #3c7aff;
}

.card {
    height: 60%;
    width: 40%;
    transition: width 1s, height 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0 20px;
}

.card .base {
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.card:hover {
    transition: 1s;
    width: 100%;
    height: 90%;
    border-radius: 0 100px 0 100px;
}

.card:hover .base {
    display: none;
}

.card:first-child:hover {
    background-color: #fc615a;
}

.card:nth-child(2):hover {
    background-color: #b1b5ff;
}

.card:last-child:hover {
    background-color: #686ff9;
}

.hidden {
    height: 0;
    opacity: 0;
    width: 100%;
}

#teams .hidden {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card:hover .hidden {
    opacity: 1;
    height: 100%;
    gap: 20px;
}

.card:hover h3 {
    background-color: #3c7aff;
}

.hidden img {
    height: 0%;
    transition: 1s;
}

.card:hover .riesgo {
    min-height: 25%;
    border-radius: 100px;
    outline: none !important;
}

.riesgo {
    transition: 0.5s;
}

.riesgo:focus {
    position: relative;
    transform: scale(200%);
    z-index: 3;
    filter: drop-shadow(5px 10px 10px);
}

#prevention {
    background-color: #fa7770;
    border-radius: 300px 0 0 0;
    text-align: center;
}

#prevention {
    color: white;
}

#prevention div {
    height: 100%;
}

.medidas {
    flex-wrap: wrap;
    flex-flow: wrap;
    gap: 0;
    align-items: baseline;
}

.carousel img {
    height: 80%;
    border-radius: 0 100px 0 100px;
}

.carousel .map {
    border: solid 1px black;
    color: rgb(183, 0, 0);
    position: absolute;
    background-color: transparent;
    z-index: 2;
}

#emergency h1 {
    color: #ff453c;
}

#emergency img,
#emergency div {
    width: 40%;
}

#oblig {
    background-color: #dfe8fc;
}

#oblig .card {
    background-color: transparent;
}

#oblig .card:first-child:hover {
    background-color: #686ff9;
}

#oblig .card:last-child:hover {
    background-color: #fc615a;
}

ul span {
    color: red;
}

#oblig .hidden {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#oblig article {
    height: 80%;
}