html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    margin-left: 50px;
    height: 15%;
    position: fixed;
    display: flex;
    z-index: 3;
}

header #palo {
    height: 100%;
    width: 10px;
    background-color: blue;
}

header ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

/* !ALERTA le cambiamos el color y tambien on hovered */
header a {
    text-decoration: none;
    color: #ff453c;
    font-weight: bold;
    text-shadow: rgb(106, 106, 106) 1px 1px 5px;
}

header a:hover {
    color: #3c7aff;
}

section {
    height: 100%;
}

section>h1 {
    padding-top: 50px;
    text-align: center;
}

#empresa {
    background-color: #dfe8fc;
    border-radius: 0% 0% 300px 0%;
}

article {
    height: 90%;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.intro img {
    height: 60%;
    width: 40%;
}

.intro div {
    width: 40%;
}

.card {
    height: 60%;
    width: 40%;
    transition: width 1s, height 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px 0 20px;
}

.card img {
    height: 300px;
    width: 300px;
}

.card:hover {
    transition: 1s;
    width: 100%;
    height: 90%;
    border-radius: 0 100px 0 100px;
    justify-content: baseline;
}

.card:hover img {
    display: none;
}

.card:first-child:hover {
    background-color: #fc615a;
}

.card:nth-child(2):hover {
    background-color: #b1b5ff;
}

.card:last-child:hover {
    background-color: #686ff9;
}

.card:hover .hidden {
    height: auto;
    opacity: 1;
}

.hidden {
    height: 0;
    opacity: 0;
    transition: 0.5s;
}

#prevention {
    background-color: #fa7770;
    border-radius: 300px 0 0 0;
    text-align: center;
}

#prevention div {
    height: 100%;
}

.medidas {
    flex-wrap: wrap;
    flex-flow: wrap;
    gap: 0;
    align-items: baseline;
}

#prevention .medidas div {
    width: 30%;
    height: 25%;
}

.carousel img {
    height: 90%;
    transition: 1s;
}

.carousel img:hover {
    transform: scale(250%);
}

#emergency img, div {
    
    width: 40%;
}

#oblig {
    background-color: #dfe8fc;;
}

#oblig .card {
    background-color: transparent;
}

#oblig .card:first-child:hover {

    background-color: #686ff9;
}

#oblig .card:last-child:hover {
    background-color: #fc615a;
}